.back-to-top {
  position: fixed;

  bottom: 35px;
  right: 1%;
  transform: translateX(-50%);

  width: 45px;
  height: 45px;

  border: 1px solid maroon;
  border-radius: 50%;

  background: maroon;
  color: wheat;

  font-family: monospace;
  font-size: 28px;
  line-height: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: 
    opacity 0.3s ease,
    visibility 0.3s ease,
    transform 0.3s ease;
    
  z-index: 1100;
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.back-to-top:hover {
  scale: 1.2;
  transform: translateX(-50%) translateY(-5px);
}